<div class="container">

  <h2 class="page-title">Item Per Page</h2>

  <app-item-per-page class="limit"
    [limit]="pageParams.limit"
    (limitChange)="onChangeLimit($event)">
  </app-item-per-page>

</div>

