<div class="container">
  <h2 class="page-title">No Data</h2>

  <app-no-data>
    <span title>
      No Data
    </span>

    <span content>
      This is No Data component example
    </span>
  </app-no-data>
</div>
