<div class="container">
  <h2 class="page-title">Scroll Service</h2>
</div>

<div class="container long-text">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ipsa officia facere voluptatibus, beatae necessitatibus. Inventore blanditiis, distinctio maxime dolore odio temporibus? Nulla impedit atque, officia animi rerum tenetur suscipit.
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis voluptatum suscipit porro voluptates, eos dolorem ipsa cumque repudiandae autem, in dicta expedita at molestias nihil ab quisquam sed ipsum ducimus?
  </p>

  <h4 #element>
    Element to scroll to
  </h4>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ea minima quos maiores tempora corporis fuga dignissimos dolores, suscipit libero. Neque qui sit explicabo ex! Asperiores ex eaque quibusdam magnam?
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ipsa reprehenderit eos consequuntur commodi eveniet quibusdam deleniti soluta numquam quasi, est ullam asperiores molestiae voluptatem sunt tenetur vel, consectetur veniam!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptates magnam impedit? Iure, nulla autem unde quibusdam nam maxime nihil nesciunt! Necessitatibus quas nam culpa ipsa neque modi magni fuga.
  </p>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum excepturi dicta sunt molestiae quis dolor optio, fugit ducimus inventore aperiam eaque provident sequi consectetur officia doloribus nam ex labore omnis?
  </p>

</div>

<div class="container">
  <div class="button-container left">
    <button type="button" mat-flat-button color="primary" (click)="scrollToTop()">
      Scroll to Top
    </button>

    <button type="button" mat-flat-button color="primary" (click)="scrollToElement()">
      Scroll to Element
    </button>
  </div>
</div>
