@import 'mixins';
@import 'variables';

.paginator-example {
  margin-bottom: $spacer;
}

.paginator-options {
  > * {
    display: inline-block;
    width: 100%;
  }

  &.input-options {
    display: flex;
    flex-wrap: wrap;
    margin-left: $spacer * -1;

    .mat-form-field {
      flex: 0 0 calc(50% - #{$spacer});
      margin-left: $spacer;
      min-width: 0;
    }
  }
}

.paginator-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin-bottom: $spacer;
  }
}

@include screen('md') {
  .paginator-options {
    margin-left: $spacer * -1;

    > * {
      margin-left: $spacer;
      width: auto;
    }

    &.input-options {
      .mat-form-field {
        flex-basis: calc(25% - #{$spacer});
      }
    }
  }

  .paginator-nav {
    flex-direction: row;
    align-items: baseline;

    > span {
      margin-right: $spacer-xs;
    }
  }
}
